[client]
port= 3306
socket= /var/lib/mysql/mysql.sock
default-character-set=tis620
[mysqld]
port= 3306
socket= /var/lib/mysql/mysql.sock
skip-external-locking
default_storage_engine=MyISAM
key_buffer = 769M
max_allowed_packet = 512M
table_open_cache = 3000
thread_concurrency = 8
thread_cache_size = 32
tmp_table_size = 64M
max_heap_table_size = 492M
character-set-server=tis620
skip-name-resolve
innodb_file_per_table
skip-character-set-client-handshake
init_connect = 'SET NAMES tis620'
innodb_data_home_dir = /var/lib/mysql/
innodb_data_file_path = ibdata1:100M:autoextend
innodb_log_files_in_group=2
innodb_log_group_home_dir = /var/lib/mysql/
innodb_buffer_pool_size = 3844M
query_cache_size= 384M
query_cache_type=2
innodb_thread_concurrency = 0
innodb_log_file_size = 256M
innodb_log_buffer_size = 32M
innodb_flush_log_at_trx_commit = 2
innodb_doublewrite=0
innodb_support_xa = 0
innodb_open_files = 3000
innodb_locks_unsafe_for_binlog=1
innodb_lock_wait_timeout=150
innodb_stats_on_metadata=0
event_scheduler=1
log_error=/var/lib/mysql/bms_mysql.err
net_write_timeout=600
net_read_timeout=600
connect_timeout=60
sql_mode="NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"
myisam-recover-options=FORCE,BACKUP
innodb_file_format = Barracuda
innodb_flush_method=O_DIRECT
innodb-defragment=1
innodb_defragment_n_pages = 32
innodb_defragment_fill_factor = 0.95
sort_buffer_size = 4M
read_buffer_size = 4M
read_rnd_buffer_size = 4M
myisam_sort_buffer_size = 128M
join_buffer_size = 8M
concurrent_insert = 2
max_connections=1000
table-open-cache-instances = 32
metadata_locks_hash_instances = 256
open_files_limit=100000
[mysqldump]
quick
max_allowed_packet = 512M
allow-keywords
[mysql]
no-auto-rehash
default-character-set=tis620
[isamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M
[myisamchk]
key_buffer = 128M
sort_buffer_size = 128M
read_buffer = 2M
write_buffer = 2M
[mysqlhotcopy]
interactive-timeout
[mysqld_safe]
malloc-lib = /usr/lib64/libjemalloc.so.1
